/* https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css */
.animation-hide {
  visibility: hidden;
  max-height: 0;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

.spacer {
  flex: 1;
}

@media (max-width: 576px) {
  .spacer {
    flex: 0.3;
  }
}

button:disabled {
  cursor: progress;
}

.page-link[disabled] {
  cursor: progress;
}

p[disabled] {
  cursor: progress;
}

.title[disabled] {
  cursor: progress;
}

.button-anim {
  transition: transform 0.2s;
}

.button-anim:hover {
  transform: scale(1.1, 1.1);
}
